* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  z-index: 1000;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.logo span {
  color: #8c2496;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding-bottom: 5px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #8c2496;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* SECTIONS */
section {
  padding: 80px 60px;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  font-size: 3rem;
}

.home span {
  color: #8c2496;
}

.home p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* ABOUT */
.about p {
  max-width: 600px;
  margin-top: 15px;
  color: #ccc;
}

/* SKILLS */
.skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill-box span {
  background: #1a1a1a;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #8c2496;
}

/* EDUCATION */
.edu-card {
  background: #1a1a1a;
  padding: 25px;
  border-left: 4px solid #8c2496;
  margin-top: 20px;
  max-width: 400px;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #1a1a1a;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  background: #8c2496;
  color: #000;
  transform: translateY(-8px);
}

/* CONTACT */
.contact p {
  margin-top: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* HOME SECTION LAYOUT */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

/* TEXT */
.home-text h1 {
  font-size: 3rem;
}

.home-text span {
  color: #8c2496;
}

.home-text p {
  margin-top: 10px;
  color: #ccc;
  font-size: 1.2rem;
}

.profile-pic img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;

  filter: grayscale(100%) contrast(110%) brightness(90%);
  border: 4px solid #7c335e;
  box-shadow: 0 0 30px rgba(123, 27, 202, 0.6);
  transition: 0.4s ease;
}


.profile-pic img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 0 0 45px #a831b3;
}
